/* --------------------Begin Css Product------------------------ */
.prod-img {
    width: 100%;
    height: auto;
}

.view-more-image {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 10px 0 5px;
    position: relative;
    width: 96px;
    height: 72px;
}
button.pop-gallery {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0;
}
.over-gallery {
    display: block;
    width: 96px;
    height: 72px;
    z-index: 1;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    font-weight: 700 !important;
    font-size: 14px !important;
    text-shadow: none;
    position: absolute;
    top: 0;
    padding-top: 24px;
}
.pop-gallery img {
    border-radius: 3px;
}

/* Modal */
#imageModal .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ẩn cuộn ngoài */
    z-index: 99999;
}

/* Modal Content */
#imageModal .modal-content {
    display: flex;
    flex-direction: column; /* Hiển thị ảnh theo cột */
    justify-content: flex-start; /* Đặt các ảnh lên đầu */
    align-items: center;
    gap: 10px;
    padding: 20px;
    min-height: 100vh;
    max-height: 100vh; /* Điều chỉnh chiều cao tối đa của modal-content */
    overflow-y: auto; /* Cho phép cuộn dọc */
    background-color: black;
}

/* Hình ảnh trong modal */
.modal-image {
    width: auto; /* Đảm bảo hình ảnh không bị co lại */
    margin: 5px;
}
/* Ẩn cuộn của trang khi modal mở */
.no-scroll {
    overflow: hidden;
}
/* Close Button */
.close {
    position: fixed;
    top: 20px; /* Điều chỉnh vị trí */
    right: 40px; /* Điều chỉnh vị trí */
    background-color: #1D6CBE;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100000; /* Đảm bảo nút đóng nằm trên cùng */
}
.col-viewmore-item {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
}
.col-viewmore-item:hover {
    cursor: pointer;
}
.col-viewmore-item:hover i, .col-viewmore-item:hover a {
    color: #1D6CBE;
}
.col-viewmore-item i {
    color: #ff6903;
    font-size: 1.5rem;
}

.content-prd-des {
    border-radius: 5px;
    padding: 15px 15px 7px 15px;
    border: 1px solid #ddd;
}
.content-des h1 {
    font-size: 20px;
    font-weight: bold;
}
.product-des {
    margin: 10px 0;
    border: 1px dashed #ddd;
    padding: 10px 10px 0px 0px;
    border-radius: 5px;
}
.product-des p {
    font-size: 0.85rem !important;
    padding-left: 10px;
    margin-block-start: 0;
    margin-block-end: 7px;
}
.product-des ul {
    margin-bottom: 10px;
}
.product-des ul li {
    list-style: circle;
    font-size: 0.85rem;
    margin-bottom: 2px;
}

.fk-main span:last-child {
    font-weight: 700;
}
.more-info {
    display: block;
}
.more-info a {
    padding-bottom: 5px;
}
.more-info a.video_review, .more-info a.video_cauhinh {
    color: #1b1b1b;
    display: inline-block;
    background: url(../img/icon-youtube.jpg) 0 / 20px;
    background-repeat: no-repeat;
    background-position-x: 2px;
    position: relative;
    top: 4px;
    margin-right: 5px;
    padding-left: 28px;
    background-position-y: 7px;
}
.more-info a.huong_dan_cau_hinh {
    color: #1b1b1b;
    display: inline-block;
    background: url(../img/huong-dan-cau-hinh.jpg) 0 / 22px;
    background-repeat: no-repeat;
    background-position-x: 2px;
    position: relative;
    top: 4px;
    margin-right: 5px;
    padding-left: 29px;
    background-position-y: 2px;
}
.more-info a.hoi_dap_san_pham {
    color: #1b1b1b;
    display: inline-block;
    background: url(../img/faq-hoi-dap.jpg) 0 / 25px;
    background-repeat: no-repeat;
    background-position-x: 2px;
    position: relative;
    top: 4px;
    margin-right: 5px;
    padding-left: 29px;
    background-position-y: 5px;
}

.contact-price {
    border: none;
    padding: 5px 40px 7px;
    background: #1D6CBE;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    display: inline-block;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
}
.price span {
    display: block;
    text-align: left;
}
.contact-price svg {
    position: absolute;
    left: 10%;
    top: 10px;
}
.contact-price:hover, .check-list-btn:hover, .btn-server:hover {
    cursor: pointer;
    background-color: #ff6903;
    color: #fff;
}

.price-modal .modal {
    top: 0;
}
.price-modal .modal-content {
    margin-top: 43px;
}
.modal .hide {
    display: none;
}
.price-modal .price-code {
    color: #1D6CBE;
}

.check-list-btn svg {
    position: absolute;
    left: 13%;
    top: 13px;
}
.datasheet-prd {
    display: block;
    border: 1px dashed;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    font-weight: 700 !important;
    position: relative;
    color: #1D6CBE;
    margin-bottom: 10px;
}
.datasheet-prd:hover {
    color: #1D6CBE;
}
.product-note p.cam_ket {
    font-size: 1.1rem !important;
    color: #1D6CBE;
    margin-bottom: 10px;
    font-weight: 700 !important;
    line-height: 20px;
}
.product-note p {
    margin: 0;
    font-size: .9rem !important;
    line-height: 25px;
}
.uytin {
    background: url(../img/uytin.png) no-repeat;
    padding: 0px 15px;
}
.uytin-10 {
    border-top: 1px dashed #ddd;
    margin-top: 5px !important;
    padding-top: 5px;
}
.addhn, .addhcm {
    font-size: .9rem;
    display: block;
    line-height: 20px;
}
.addhn {
    padding-top: 10px;
    border-top: 1px dashed #ddd;
    margin-bottom: 10px;
}
.maphn, .maphcm {
    background: url(../img/iconmap.png) no-repeat;
    padding: 5px 10px;
}

.compare {
    display: block;
    width: 100%;
}
.compare .tcpr {
    position: relative;
}
.compare p {
    display: inline-block;
    font-size: 16px !important;
    color: #333;
    margin: 0;
    font-weight: bold !important;
    margin-right: 10px;
}
.compare div.sggProd {
    display: inline-block;
    width: 100%;
}
.compare form {
    display: block;
    height: 36px;
    position: relative;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin-top: 15px;
}
.compare input {
    display: block;
    text-indent: 10px;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 8px 0;
    height: 34px;
}
.compare input:focus {
    outline: none;
}
.compare button {
    position: absolute;
    top: 0;
    right: 1px;
    width: 36px;
    height: 34px;
    border: 0;
    background: #fff;
}
#autoSggList {
    display: none;
    background-color: #fff;
    padding: 0 10px;
    border: 1px solid #ddd;
    position: absolute;
    z-index: 999;
}

#chi-tiet {
    border: 1px solid #ddd;
    padding: 14px;
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
}
.panel-heading {
    background: #1D6CBE;
    padding: 8px 10px;
    font-weight: 500;
    color: #fff;
    font-size: 1.2rem;
}
/* cấu hình sản phẩm serve */
.btn-server {
    font-size: 1rem;
    background-color: #1D6CBE;
    padding: 6px 14px;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    margin-top: .5rem;
    margin-right: 5px;
}
.contact-sale-server {
    background: #ecf2f7;
    padding: 10px;
    border-radius: 5px;
    border: 1px dashed #ff0000;
}
.contact-sale-server p {
    margin-top: 5px;
    margin-bottom: 0;
}
.contact-sale-server a, .contact-sale-server i {
    color: red;
    font-weight: 700;
}
.part {
    border: 1px solid #eee;
}
.part .head {
    background: #eee;
    padding: 0;
}
.part .head .name {
    min-width: 100px;
    margin: 0 0;
    padding: 0 10px;
    background: #1D6CBE;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}
.part .scroll-box {
    margin: 10px 0;
    max-height: 134px;
    overflow: hidden scroll;
}
.part .item {
    margin: 5px 0;
}
.part .is-checked {
    background: #F5F6F6;
}
.part .item .sel {
    margin-left: 10px;
}
.part .item .qty {
    margin-left: 10px;
}
.part input[type="number"] {
    height: 24px;
    width: 40px;
    border: 1px solid #e9e9e9;
    font-size: 14px;
}
.part input[type="radio"], .part input[type="checkbox"] {
    cursor: pointer;
}
.part .infor {
    font-size: 14px;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    margin-left: 5px;
}
.part .item .cmd a {
    color: #1D6CBE;
    font-size: 14px;
    margin-left: 5px;
}
.part .infor .contact {
    float: right;
    color: #1D6CBE;
    margin-right: 10px;
}
.conf-section-desc {
    margin-left: 5px;
    font-size: 12px;
    font-family: 'IBM Plex Mono', sans-serif;
}
.conf-widget ul {
    list-style: none;
    padding: 0 1rem;
    margin-bottom: .5rem;
}
.conf-widget li {
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}
.conf-widget li div{
    font-size: 14px;
}
.conf-widget li:last-child {
    border-bottom: none;
}
.conf-print, .conf-buy {
    padding: .5rem 0;
    color: white;
    cursor: pointer;
}
.conf-print {
    background: #ff6903;
}
.conf-buy {
    background: #1D6CBE;
}

/* Div màu đỏ ở trên cùng */
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}
.top-red-div {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Chiều cao của div */
    background: #1D6CBE;
    z-index: 1056;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}
/* cấu hình sản phẩm serve */

/* sản phẩm đi kèm */
.pricing {
    border: 1px solid #eee;
    border-bottom: none;
}
.prd_di_kem {
    border: none;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.prd_di_kem .panel-subheading {
    display: flex;
    align-items: center;
}
.panel-subheading {
    color: #333;
    font-weight: 700 !important;
    margin: 0;
}
.prd_di_kem .panel-subheading svg {
    margin-right: 7px;
    color: #1D6CBE;
}
.pricing .panel-subheading h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    color: #333;
}

.pricing ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding: 0;
    margin-top: 12px;
}
.pricing ul li img {
    border: 1px solid #ddd;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}
.pricing ul li a h4 {
    font-size: 14px;
    color: #333;
    margin: 0;
    line-height: 23px;
}
.pricing ul li a:hover h4 {
    color: #1D6CBE;
    text-decoration: underline;
}

.group-prod {
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    display: block;
    margin-right: auto;
    max-height: 320px;
    min-height: 0;
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 100%;
}
.group-show-more {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .91) 50%, #fff 55%);
    border-radius: 5px;
    bottom: 0;
    display: none;
    left: 0;
    margin-bottom: 0;
    padding-top: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.group-show-more button {
    font-size: .8rem;
    padding: 3px 10px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    background-color: #eee;
}

/* --------------------End Css Product------------------------ */

/* Custom CSS for Swiper */
.swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}
.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}
.mySwiper .swiper-slide-thumb-active img {
    border: 1px solid #1D6CBE;
    border-radius: 6px;
}
.swiper-slide img {
    display: block;
    border-radius: 7px;
    object-fit: cover;
    cursor: pointer;
}
.swiper-button-next, .swiper-button-prev, .reviewer i {
    color: #1D6CBE;
}
.reviewer a:first-of-type {
    margin-right: 10px;
}
:root {
    --swiper-navigation-size: 38px;
}

/* Số điện thoại liên hệ */

.check-list-btn {
    padding: 5px 40px;
    background: #1D6CBE;
    color: #fff;
    font-weight: 500 !important;
    font-size: 1.2rem !important;
    display: inline-block;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
}
.content-product {
    background: #fff;
    border-radius: 7px;
    /* box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15); */
    display: block;
    margin-right: auto;
    max-height: 500px;
    min-height: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

/* responsive product */
@media (max-width: 280px) {
    #chi-tiet img {
        width: 100%;
    }
}
@media (min-width: 375px) {
    .col-viewmore-item {
        padding: 5px 10px;
    }
}
@media (min-width: 567px) {
    .datasheet-prd svg {
        left: 20%;
    }

    .compare .tcpr {
        position: relative;
        display: block;
    }

    .prd_di_kem ul li {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 567px) {
    .scrollToRateBox {
        font-size: 14px;
    }
    .prd_di_kem ul li {
        width: 100%;
        margin-bottom: 10px;
    }
    .price a:first-of-type {
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .part .contact {
        display: none;
    }
    .btn-server {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .compare div.sggProd {
        width: 54%;
    }
}
@media (min-width: 992px) {
    .description-prd {
        border: 1px solid #ddd;
        padding: 10px;
        position: relative;
        border-radius: 5px;
    }

    .prd_di_kem ul li.mg-r4 {
        margin-right: 10px;
    }

    .prd_di_kem ul li {
        margin-right: 28px;
        width: 47%;
        margin-bottom: 15px;
    }
}

@media (min-width: 1200px) {
    .description-prd {
        border: 1px solid #ddd;
        padding: 10px;
        position: relative;
        border-radius: 5px;
    }
    .description-prd:after {
        height: 100%;
        display: block;
        width: 1px;
        border-right: 1px solid #eee;
        content: '';
        position: absolute;
        z-index: 4;
        top: 0;
        right: 25%;
    }
    .contact-price, .check-list-btn {
        padding: 5px 20px 7px 40px;
    }

    .check-list-btn svg, .contact-price svg {
        left: 8%;
    }

    .datasheet-prd {
        width: 100%;
    }

    .product-note {
        border: none;
        padding: 0;
    }

    .prd_di_kem ul li.mg-r4 {
        margin-right: 28px;
    }

    .prd_di_kem ul li {
        margin-right: 28px;
        width: 47%;
        margin-bottom: 15px;
    }

    .prd_di_kem ul li.mg-r {
        margin-right: 0;
        display: block;
    }
}

@media (min-width: 1400px) {
    .col-viewmore-item {
        padding: 5px 20px;
    }

    .contact-price, .check-list-btn {
        padding: 5px 40px 7px;
    }

    .datasheet-prd {
        width: 97%;
    }

    .product-note p {
        margin-bottom: 5px;
    }

    .compare div.sggProd {
        width: 40%;
        margin-bottom: 15px;
    }

    .prd_di_kem ul li {
        display: block;
        width: 47%;
        margin-right: 30px;
        margin-bottom: 15px;
    }

    .prd_di_kem ul li.mg-r4 {
        margin-right: 31px;
    }

    .prd_di_kem ul li.mg-r {
        margin-right: 0;
        display: block;
    }

    .prd_di_kem ul li a {
        float: left;
        display: contents;
    }
}